body {
    background-color: skyblue;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3 {
    color: black;
    text-align: center;
}

#container {
    background-color: whitesmoke;
}

nav {
    background-color: skyblue;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid black;
}

nav li a {
    display: block;
    height: 40px;
    background-color: whitesmoke;
    line-height: 40px;
    text-decoration: none;
    font-size: 1.3em;
    padding: 8px 0;
}

nav li a:hover {
    background-color: skyblue;
    color: black;
    border-color: black;
}

main {
    padding: 20px;
}

.col {
    padding: 10px;
    border-top: 2px solid black;
}

footer {
    background-color: skyblue;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}

.button {
    display: block;
    width: 100px;
    height: 10px;
    line-height: 10px;
    background-color: lime;
    color: black;
    text-decoration: whitesmoke;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid black;
    border-radius: 5px;
}

.button:hover {
    background-color: skyblue;
    border-color: black;
}

table {
    border: black;
}

tr, td {
    border: 10px double black;
    height: auto;
    width: 1000px;
}

@media (min-width: 786px) {
    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid black;
    }

    main {
        display: flex;
    }

    .col img {
        width: 75%;
    }
    
    .button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    #lower_area {
        display: flex;
    }

    .col {
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .button {
       display: block
    }

    .one {
        height: 150px;
        width: 20%;
    }

    .two {
        height: 150px;
        width: 20%;      
    }

    .three {
        height: 150px;
        width: 20%;
    }

    .four {
        height: 150px;
        width: 20%;
    }

    .five {
        height: 150px;
        width: 20%;
    }
}